{% extends "./layouts/default.layout.njk" %}

{% set pageName="Hmcts - Apply to adopt a child" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ pageHeading("Apply to adopt a child placed in your care") }}

      <ol class="task-list">
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">1. </span> Add application details
          </h2>
          {{ subTaskList(
            subTasks=(tasks.applicantDetails),
            sectionId='application_details'
          ) }}
        </li>
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">2. </span> Add your details
          </h2>
          <div class="alert alert--default">
            <p class="margin-top--xs">You'll need to upload your:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>marriage or civil partnership certificate [if couple; only show for 1 user]</li>
              <li>passport's photo page</li>
              <li>driving licence</li>
            </ul>
            <p>If relevant to you, you'll also need to upload: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>your UK visa</li>
              <li>immigration stamps in your passport</li>
              <li>evidence of any name changes, for example deed pool</li>
            </ul>
          </div>
          {{ subTaskList(
            subTasks=(tasks.yourDetails),
            sectionId="your_details"
          )}}
        </li>
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">3. </span> Add the child's details
          </h2>
          <div class="alert alert--default">
            <p class="margin-top--xs">You'll need to work with your social worker or adoption agency to answer these questions, but it's important the answers come from you.</p>
            <p>This is because, if your application is successful, <a href="#">'parental responsibility'</a> will permanently transfer from the birth parents to you. </p>
          </div>
          {{ subTaskList(
            subTasks=(tasks.childDetails),
            sectionId="childs_details"
          )}}
        </li>
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">4. </span> Add your adoption contacts
          </h2>
          {{ subTaskList(
            subTasks=(tasks.adoptionContacts),
            sectionId="adoption_contacts"
          )}}
        </li>
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">5. </span> Declare payments
          </h2>
          {{ subTaskList(
            subTasks=(tasks.declarePayments),
            sectionId="declare_payments"
          )}}
        </li>
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">5. </span> Review application, pay and send
          </h2>
          {{ alert(content="You'll need your credit or debit card.") }}
          {{ subTaskList(
            subTasks=(tasks.reviewApplication),
            sectionId="review_application"
          )}}
        </li>
      </ol>

    <div>
  </div>
{% endblock %}