{% extends "./layouts/default.layout.njk" %}

{% set pageName=t('taskList:title') %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ pageHeading(t('taskList:title')) }}

      <ol class="task-list">
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">1. </span> {{ t('taskList:taskItems.applicationDetails.heading') }}
          </h2>
          {{ subTaskList(
            subTasks=(tasks.applicantDetails),
            sectionId='application_details'
          ) }}
        </li>
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">2. </span> {{ t('taskList:taskItems.yourDetails.heading') }}
          </h2>
          {{ subTaskList(
            subTasks=(tasks.yourDetails),
            sectionId="your_details"
          )}}
        </li>
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">3. </span> {{ t('taskList:taskItems.childDetails.heading') }}
          </h2>
          {{ subTaskList(
            subTasks=(tasks.childDetails),
            sectionId="childs_details"
          )}}
        </li>
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">4. </span> {{ t('taskList:taskItems.adoptionContacts.heading') }}
          </h2>
          {{ subTaskList(
            subTasks=(tasks.adoptionContacts),
            sectionId="adoption_contacts"
          )}}
        </li>
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">5. </span> {{ t('taskList:taskItems.declarePayments.heading') }}
          </h2>
          {{ subTaskList(
            subTasks=(tasks.declarePayments),
            sectionId="declare_payments"
          )}}
        </li>
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">5. </span> {{ t('taskList:taskItems.reviewApplication.heading') }}
          </h2>
          {{ alert(content=t('taskList:taskItems.reviewApplication.alert.content')) }}
          {{ subTaskList(
            subTasks=(tasks.reviewApplication),
            sectionId="review_application"
          )}}
        </li>
      </ol>

    <div>
  </div>
{% endblock %}