{% extends "./layouts/default.layout.njk" %}

{% set pageName="Hmcts - Apply to adopt a child" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {{ pageHeading("Apply to adopt a child placed in your care") }}
      <ol class="task-list">
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">1. </span> Add application details
          </h2>
          {{ taskListItems(
            items=[
              {
                title: 'Number of children and applicants',
                url: '#',
                status: 'Complete'
              },
              {
                title: 'Choose your family court',
                url: '#'
              }
            ],
            sectionId="test"
          )}}
        </li>
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">2. </span> Add your details
          </h2>
          <div class="alert alert--default">
            <p class="margin-top--xs">You'll need to upload your:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>marriage or civil partnership certificate [if couple; only show for 1 user]</li>
              <li>passport's photo page</li>
              <li>driving licence</li>
            </ul>
            <p>If relevant to you, you'll also need to upload: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>your UK visa</li>
              <li>immigration stamps in your passport</li>
              <li>evidence of any name changes, for example deed pool</li>
            </ul>
          </div>
          {{ taskListItems(
            items=[
              {
                title: 'Your personal details',
                url: '#'
              },
              {
                title: 'Your contact details',
                url: '#'
              },
              {
                title: 'Your relationship details',
                url: '#'
              },
              {
                title: 'Your relationship (if the user said they were the only applicant)',
                url: '#'
              },
              {
                title: 'Upload your identity documents',
                url: '#'
              }
            ],
            sectionId="test"
          )}}
        </li>
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">3. </span> Add the child's details
          </h2>
          <div class="alert alert--default">
            <p class="margin-top--xs">You'll need to work with your social worker or adoption agency to answer these questions, but it's important the answers come from you.</p>
            <p>This is because, if your application is successful, <a href="#">'parental responsibility'</a> will permanently transfer from the birth parents to you. </p>
          </div>
          {{ taskListItems(
            items=[
              {
                title: 'Their birth certificate details',
                url: '#'
              },
              {
                title: 'Adoption certificate details',
                url: '#'
              },
              {
                title: 'Their history with you',
                url: '#'
              },
              {
                title: 'Their placement order details',
                url: '#'
              },
              {
                title: "Their birth mother's details",
                url: '#'
              },
              {
                title: "Their birth father's or other parent's details",
                url: '#'
              },
              {
                title: 'Previous court order for the child',
                url: '#'
              },
              {
                title: 'Court order details for any siblings or half-siblings',
                url: '#'
              }
            ],
            sectionId="test"
          )}}
        </li>
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">4. </span> Add your adoption contacts
          </h2>
          {{ taskListItems(
            items=[
              {
                title: 'Your social worker or adoption agency',
                url: '#'
              },
              {
                title: "The child's social worker",
                url: '#'
              },
              {
                title: 'Your solictor, if relevant',
                url: '#'
              }
            ],
            sectionId="test"
          )}}
        </li>
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">5. </span> Declare payments
          </h2>
          {{ taskListItems(
            items=[
              {
                title: 'Declare any payments made or received',
                url: '#'
              }
            ],
            sectionId="test"
          )}}
        </li>
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">5. </span> Review application, pay and send
          </h2>
          {{ alert(content="You'll need your credit or debit card.") }}
          {{ taskListItems(
            items=[
              {
                title: 'Review application, pay and send',
                url: '#'
              }
            ],
            sectionId="test"
          )}}
        </li>
      </ol>
    <div>
  </div>
{% endblock %}